<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="container">
    <div class="card">
      <h2>Student Registration</h2>
      <input type="text" placeholder="Full Name">
      <input type="email" placeholder="Email">
      <input type="password" placeholder="Password">
      <button onclick="location.href='/login'">Register</button>
      <p style="margin-top:10px;">
        <a href="/login">Back to Login</a>
      </p>
    </div>
  </div>
</body>
</html>
